emacs.d/projectile-bookmarks.eld
emacs.d/elpa
emacs.d/elpa/*
emacs.d/elpa/**
emacs.d/quelpa
emacs.d/quelpa/*
emacs.d/quelpa/**
emacs.d/tree-sitter
emacs.d/transient
emacs.d/auto-save-list
/emacs.d/eshell/
/emacs.d/cider-history
emacs.d/session*
/emacs.d/parinfer-rust/
*.DS_Store
/bin/test.sh
/emacs.d/bookmarks
/emacs.d/.org-id-locations
/emacs.d/org-roam.db
/emacs.d/.last-package-update-day
/emacs.d/projects
/emacs.d/.lsp*
/emacs.d/*.cache
/emacs.d/workspace/

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
