emacs.d/projectile-bookmarks.eld
emacs.d/elpa
emacs.d/elpa/*
emacs.d/elpa/**
emacs.d/transient
emacs.d/auto-save-list
/emacs.d/eshell/
/emacs.d/cider-history
emacs.d/session*
emacs.d/custom.el
/emacs.d/parinfer-rust/
*.DS_Store
