                                        ; dark mode
                                        ; sidebar icon small
                                        ; dock, small
                                        ; dock, disable show recent applications
                                        ; dock, disable double click window bar
                                        ; dock, disable animate
